.Card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: 24rem;
  margin: 1rem auto;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  img {
    width: 100px;
    margin-bottom: 3rem;
  }

  button {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    width: 10rem;
    height: 2rem;
  }
  .Card__interact {
    margin-top: 2rem;
    width: 350px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    margin: 2rem 2rem;
  }
}
