.About__card-wrapper {
  .About__card-body {
    width: 22rem;
    height: 49rem;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    justify-content: center;
    margin: 2rem auto;
    background: rgba(255, 255, 255, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
    &:hover {
      box-shadow: rgba(142, 142, 142, 0.16) 8px 8px 8px 8px;
    }
    .About__card-image {
      margin: 3rem auto 0 auto;
      img {
        border-radius: 10px;
        width: 250px;
        height: 370px;
      }
    }
    .About__card-info {
      margin: 0rem auto;
      h3 {
        color: rgb(165, 173, 134);
        font-weight: 800;
        font-size: 23px;
        margin-bottom: 0.5rem;
        margin: 1rem auto;
        text-align: center;
      }
      p {
        font-size: 16px;
        color: rgb(188, 176, 101);
        margin: 1rem 1rem;
        text-align: justify;
      }
      .About__card-contact {
        display: flex;
        justify-content: space-around;
        margin: 1rem 1rem 3rem 1rem;
        h5 {
          color: rgb(0, 0, 0);
          margin-bottom: 0.5rem;
        }

        .About__card-linkedin {
          img {
            width: 20px;
            height: 20px;
          }
        }
        .About__card-github {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .About__card-list {
        margin-top: 1rem;
        display: flex;
        ul {
          margin-left: 1.5rem;
          li {
            color: rgb(132, 150, 102);
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    margin: 12rem auto;
    .About__card-body {
      width: 50rem;
      height: 30rem;
      flex-direction: row;
      .About__card-info {
        margin: auto;
        .About__card-list {
          justify-content: space-around;
        }
      }
      .About__card-image {
        margin-left: 1rem;
      }
    }
  }
}
